{% import '_includes/forms.twig' as forms %} 

{% requireAdmin %}

{% extends "_layouts/cp" %}
{% set title = "QR Manager" %}
{% set docTitle = title ~ ' - ' ~ "Plugins"|t('app') %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') },
    { label: "Plugins"|t('app'), url: url('settings/plugins') }
] %}

  {% if selectableSites is not defined %}
      {% if siteIds is defined %}
          {% set selectableSites = craft.app.sites.getEditableSites()|filter(s => s.id in siteIds) %}
      {% else %}
          {% set selectableSites = craft.app.sites.getEditableSites() %}
      {% endif %}
  {% endif %}

  {% if selectedSite is not defined %}
      {% if selectedSiteId is defined %}
          {% set selectedSite = craft.app.sites.getSiteById(selectedSiteId) %}
      {% elseif requestedSite and requestedSite in selectableSites %}
          {% set selectedSite = requestedSite %}
      {% else %}
          {% set selectedSite = selectableSites|length ? selectableSites|first : craft.app.sites.getPrimarySite() %}
      {% endif %}
  {% endif %}

{% set crumbs = (crumbs ?? [])|push({
    id: 'site-crumb',
    icon: 'world',
    label: selectedSite.name|t('site'),
    menu: {
        items: siteMenuItems(selectableSites, selectedSite),
        label: 'Select site'|t('app')
    }
}) %}

{% set formActions = [
    {
        label: 'Save and continue editing'|t('app'),
        redirect: 'settings/plugins/qr-manager' ~ (selectedSite ? '?site=' ~ selectedSite.handle : ''),
        shortcut: true,
        retainScroll: true,
    },
] %}

{% block content %}
<div class="qrm-flex qrm-items-start">
<div class="qrm-flex-1">
<h2>{{ "QR Settings"|t('app') }}</h2>
<p>Define a custom QR code to suit your brand.</p>

<input type="hidden" name="action" value="qr-manager/settings/save-site-settings">
<input type="hidden" name="siteHandle" value="{{ selectedSite.handle }}">

{{ redirectInput('settings/plugins/qr-manager?site=' ~ selectedSite.handle) }}

{# Color field #}
{{ forms.colorField({
  label: "Foreground Color"|t('app'),
  instructions: "The foreground color of the QR code. For maximum compatibility foreground color must be darker than the background color."|t('app'),
  id: 'foregroundColor',
  name: 'foregroundColor',
  value: settings.foregroundColor,
}) }}

{# Background color field #}
{{ forms.colorField({
  label: "Background Color"|t('app'),
  instructions: "The background color of the QR code."|t('app'),
  id: 'backgroundColor',
  name: 'backgroundColor',
  value: settings.backgroundColor,
}) }}

{% set logoElements = [] %}
{% if settings.logo %}
  {# Fetch asset #}
  {% set logo = craft.assets.id(settings.logo[0]).one() %}
  {% set logoElements = [logo] %}
{% endif %}

{# Logo asset field #}
{{ forms.elementSelectField({
  label: "Logo"|t('app'),
  elementType: 'craft\\elements\\Asset',
  instructions: "The logo to overlay on the QR code."|t('app'),
  id: 'logo',
  name: 'logo',
  limit: 1,
  criteria: { kind: ['image'] },
  elements: logoElements,
}) }}

{# Logo size field #}
{{ forms.textField({
  label: "Logo Size"|t('app'),
  type: "number",
  instructions: "The size of the logo, use a value between 0 and 0.5."|t('app'),
  id: 'logoSize',
  name: 'logoSize',
  max: 0.8,
  step: 0.1,
  min: 0,
  value: settings.logoSize,
}) }}

{# Logo margin field #}
{{ forms.textField({
  label: "Logo Margin"|t('app'),
  type: "number",
  instructions: "The margin around the logo in pixels."|t('app'),
  id: 'logoMargin',
  name: 'logoMargin',
  value: settings.logoMargin,
}) }}

{# Dot options field #}
{{ forms.selectField({
  label: "Dot options"|t('app'),
  instructions: "Customize the look of your branded QR code by changing your dot options."|t('app'),
  id: 'dotOptions',
  name: 'dotOptions',
  options: [
    { label: "Rounded", value: "rounded" },
    { label: "Dots", value: "dots" },
    { label: "Classy", value: "classy" },
    { label: "Classy Rounded", value: "classy-rounded" },
    { label: "Square", value: "square" },
    { label: "Extra Rounded", value: "extra-rounded" },
  ],
  value: settings.dotOptions,
}) }}

{# Error correction field #}
{{ forms.selectField({
  label: "Error Correction"|t('app'),
  instructions: "The error correction level of the QR code. Using any value other than High may result in code readability issues."|t('app'),
  id: 'errorCorrectionLevel',
  name: 'errorCorrectionLevel',
  options: [
    { label: "Low", value: "L" },
    { label: "Medium", value: "M" },
    { label: "Quartile", value: "Q" },
    { label: "High", value: "H" },
  ],
  value: settings.errorCorrectionLevel,
}) }}
</div>
<div class="qrm-sticky qrm-top-16">
<h2>{{ "Preview"|t('app') }}</h2>
<div class="field">
    <div class="qrm-w-full qrm-pb-6">
        {% include "qr-manager/qr/_code" with {id: 'preview'} %}
    </div>
</div>
</div>
{% endblock %}

