<fieldset>
    <legend class="h6">QR Codes</legend>
    <div class="field">
        <div class="qrm-w-full">
            <div class="qrm-w-full">
                <div class="qrm-w-full">
                    {# If there are no routes, display a message #}
                    {% if routes|length == 0 %}
                        <p>No QR Codes have been created for this entry.</p>
                    {% else %}
                        <ul>
                        {# Loop through the routes and display the QR Code #}
                        {% for route in routes %}
                        <div id="card-{{route.id}}" class="element removable card qrm-flex qrm-items-stretch qrm-gap-[8px] qrm-p-4 qrm-relative qrm-user-select-none qrm-w-full qrm-bg-white qrm-border-b-2">
                            <div class="card-content qrm-w-full">
                                <div class="card-heading">
                                    <craft-element-label id="card-{{route.id}}-label" class="label">
                                        <a class="label-link" href="/admin/qr-manager/routes/edit/{{route.id}}?site={{site}}">
                                            <span>{{route.title}}</span>
                                        </a>
                                    </craft-element-label>
                                </div>
                                <div class="card-body qrm-mt-2 qrm-bt-2">
                                    <p>
                                        <strong class="qrm-text-xs">QR Code:</strong><br>
                                        <small>{{route.entryUri}}</small>
                                    </p>
                                    <p>
                                        <strong class="qrm-text-xs">Redirect:</strong><br>
                                        <small>{{route.redirectUri}}</small>
                                    </p>
                                    <ul class="flex gap-xs">
                                        <li>
                                            <span class="status-label teal"><span class="status teal {% if route.enabled %}live{% endif %}"></span> <span class="status-label-text">Enabled</span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-actions-container">
                                <div class="card-actions">
                                    <button type="button" class="btn action-btn" aria-controls="action-menu-{{route.id}}-menu" aria-label="Actions" data-disclosure-trigger data-icon="ellipsis"></button>
                                    <div id="action-menu-{{route.id}}-menu" class="menu menu--disclosure !qrm-p-0">
                                        <ul class="qrm-p-0">
                                            <li class="qrm-py-3 qrm-px-4 hover:qrm-bg-slate-200">
                                                <button id="action-menu-{{route.id}}-menu-item" class="menu-item" data-qr-manager-edit="{{route.id}}"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><!--! Font Awesome Pro 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc. --><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg></span><span class="menu-item-label inline-flex flex-col items-start gap-2xs">Edit</span></button>
                                            </li>
                                            <li class="qrm-py-3 qrm-px-4 hover:qrm-bg-slate-200">
                                                <button id="action-menu-{{route.id}}-qr-code-download-{{route.id}}" class="menu-item" data-qr-manager-download="{{route.entryUri}}" data-qr-manager-download-name="{{route.title}}"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><!--! Font Awesome Pro 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc. --><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg></span><span class="menu-item-label inline-flex flex-col items-start gap-2xs">Download QR Code</span></button>  
                                            </li>    
                                        </ul>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</fieldset>
<hr />

{% do view.registerAssetBundle("weiperio\\craftqrmanager\\web\\assets\\qrmanagerbundle\\QrManagerBundleAsset") %}

{% js %}
    if (!window.QR_MANAGER_CONFIG) {
        window.QR_MANAGER_CONFIG = {};
    }
    window.QR_MANAGER_CONFIG.SITE_BASE_URL = "{{ siteUrl }}";
    window.QR_MANAGER_CONFIG.QR_CODE_FOREGROUND_COLOR = "{{ settings.foregroundColor }}";
    window.QR_MANAGER_CONFIG.QR_CODE_BACKGROUND_COLOR = "{{ settings.backgroundColor }}";
    window.QR_MANAGER_CONFIG.QR_CODE_LOGO_SIZE = "{{ settings.logoSize }}";
    window.QR_MANAGER_CONFIG.QR_CODE_LOGO_MARGIN = "{{ settings.logoMargin }}";
    window.QR_MANAGER_CONFIG.QR_CODE_ERROR_CORRECTION = "{{ settings.errorCorrectionLevel }}";
    {% if settings.logo %}
    {% set logo = craft.assets.id(settings.logo[0]).one() %}
    window.QR_MANAGER_CONFIG.QR_CODE_LOGO = "{{ logo.url }}";
    {% endif %}
    
{% endjs %}
